<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOmsa5cu1lSCLD6mK7kPPyjuWR9gd79tY</string>
	<key>GCM_SENDER_ID</key>
	<string>119966215010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turanta.turantaXpert</string>
	<key>PROJECT_ID</key>
	<string>turanta-app</string>
	<key>STORAGE_BUCKET</key>
	<string>turanta-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119966215010:ios:b4e15401e481c53c55da3b</string>
</dict>
</plist>